<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="author" content="Enrique Coronado" />
  <title>Rize</title>
  <link rel="shortcut icon" type="image/png" href="images/rize2.png"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <!--   #################### Material Icons  ################### -->
  <link rel="stylesheet" href="web/material-icons/material-design-icons.css">
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
</head>

<body>

  <div id="app">
    <v-app id="inspire" style="
        background: rgb(255, 255, 255);">


      <v-app-bar flat app dense color="white">


        <v-avatar size="35">
          <img src="images/rize2.png" alt="avatar">
        </v-avatar> &nbsp; &nbsp;
        <v-toolbar-title>
          RIZE
        </v-toolbar-title>

        <v-spacer></v-spacer>

        <v-toolbar-items>
          <v-btn text color="grey darken-3" text>Downloads <v-icon right dark>get_app</v-icon>
          </v-btn>
          <v-btn text color="grey darken-3" text>Docs <v-icon right dark>description</v-icon>
          </v-btn>
          <v-btn text color="grey darken-3" text>Publications <v-icon right dark>school</v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-app-bar>


      <v-content>
        </v-container>


        <v-container>

          <v-container grid-list-md text-center>
            <v-layout wrap align-center justify-center>
              <v-flex xs6 md2>
                <v-card color="white" flat>
                  <v-container>
                    <v-avatar size="106">
                      <img src="images/rize2.png" alt="avatar">
                    </v-avatar>
                  </v-container>
                </v-card>
              </v-flex>
              <v-flex xs6 md5>
                <v-card color="white" flat>


                  <div><span style=" color:#424242; font-size: 36px"> <b>R</b>obot <b>I</b>nterfaces from
                      <b>Z</b>ero
                      <b>E</b>xperience</span>
                  </div>
                  <div>&nbsp;</div>
                  <div><span style="font-size: 20px; color:#616161;">RIZE is a platform-independent and accesible
                      end-user
                      robot programming
                      enviroment</span></div>
                  <div>&nbsp;</div>

                  <v-btn @click="dialog = true" color="blue darken-1" dark>Download BETA</v-btn>
                  <v-btn outlined color="blue darken-1" dark>Get Started</v-btn>


              </v-flex>
            </v-layout>

            <v-container fluid grid-list-xl>
              <v-flex xs12>
                <v-card color="white" flat>
                  &emsp;
                </v-card>
              </v-flex>


              <v-layout justify-center>



                <v-flex xs4 md3>
                  <v-card flat color="white" min-width="200" max-width="300">
                    <v-card-title>
                      <p style="color:#1E88E5; font-size:23px;">
                        User-friendly
                      </p>
                    </v-card-title>
                    <v-card-text<p style="font-size:16px;">Designed to be easy-to-install and use </p>
                      </v-card-text>
                  </v-card>
                </v-flex>

                <v-flex xs4 md3>
                  <v-card flat color="white" min-width="200" max-width="300">
                    <v-card-title>
                      <p style="color:#1E88E5; font-size:23px;">
                        Cross-platform
                      </p>
                    </v-card-title>
                    <v-card-text<p style="font-size:16px;">Runs in Windows, OSX 10 and Linux</p>
                      </v-card-text>
                  </v-card>
                </v-flex>

                <v-flex xs4 md3>
                  <v-card flat color="white" min-width="260" max-width="300">
                    <v-card-title>
                      <p style="color:#1E88E5; font-size:23px;">
                        Modular
                      </p>
                    </v-card-title>
                    <v-card-text<p style="font-size:16px;">Is component-based and distributed</p>
                      </v-card-text>
                  </v-card>
                </v-flex>


              </v-layout>
            </v-container>
            <v-layout justify-center>
              <v-flex xs4 md3>
                <v-card color="white" flat>
                  <v-img src="images/rize.png" aspect-ratio="1" class="grey lighten-2" max-width="500" max-height="500">
                  </v-img>
                </v-card>
              </v-flex>
            </v-layout>

          </v-container>
      </v-content>





      <v-footer color="teal" app>
        <v-spacer></v-spacer>
        <span class="white--text">&copy; 2019</span>
      </v-footer>

      <v-dialog v-model="dialog" max-width="500px">
        <v-card>
          <v-card-title>
            Install in order:
          </v-card-title>
          <v-stepper v-model="e6" vertical>
            <v-stepper-step :complete="e6 > 1" step="1" editable>
              Python 2
              <small>Don't use conda or pycharm versions</small>
            </v-stepper-step>

            <v-stepper-content step="1">


              <v-layout justify-center>
                <v-flex xs6>
                  <v-btn href="https://www.python.org/ftp/python/2.7.16/python-2.7.16.msi" target="_blank"
                    color="primary">Download Python 2</v-btn>
                </v-flex>
              </v-layout>


            </v-stepper-content>

            <v-stepper-step editable :complete="e6 > 2" step="2">RIZE configuration files <small>Install in
                C:/Rize</small></v-stepper-step>

            <v-stepper-content step="2">
              <v-layout justify-center>
                <v-flex xs8>
                  <v-btn
                    href="https://github.com/enriquecoronadozu/RIZE/releases/download/v0.9-beta.2/rize_files_installer_0.1.exe"
                    target="_blank" color="primary">Download RIZE files</v-btn>
                </v-flex>
            </v-stepper-content>

            <v-stepper-step editable :complete="e6 > 3" step="3">Pepper software </v-stepper-step>

            <v-stepper-content step="3">
              <v-layout justify-center>
                <v-flex xs8>
                  <v-btn
                    href="https://github.com/enriquecoronadozu/RIZE/releases/download/v0.9-beta.2/pynaoqi-2.4.3.2.win32.exe"
                    target="_blank" color="primary">Download Pepper software</v-btn>
                </v-flex>
              </v-layout>
            </v-stepper-content>


            <v-stepper-step editable :complete="e6 > 4" step="4">RIZE robot configuration interface</v-stepper-step>

            <v-stepper-content step="4">
              <v-layout justify-center>
                <v-flex xs8>
                  <v-btn
                    href="https://github.com/enriquecoronadozu/RIZE/releases/download/v0.9-beta.2/RIZE.Robots.Setup.1.0.0.exe"
                    target="_blank" color="primary">Download RIZE Robots</v-btn>
                </v-flex>
              </v-layout>
            </v-stepper-content>


            <v-stepper-step editable :complete="e6 > 5" step="5">RIZE programming interface</v-stepper-step>

            <v-stepper-content step="5">
              <v-layout justify-center>
                <v-flex xs6>
                  <v-btn
                    href="https://github.com/enriquecoronadozu/RIZE/releases/download/v0.9-beta.2/RIZE.Setup.0.9.0.exe"
                    target="_blank" color="primary">Download RIZE</v-btn>
                </v-flex>
              </v-layout>
            </v-stepper-content>


          </v-stepper>
          <v-card-actions>
            <v-btn color="primary" text @click="dialog2 = false">
              Close
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

    </v-app>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: () => ({
        dialog: false,
        e6: 1,
        items: [
          { title: 'Dashboard', icon: 'dashboard' },
          { title: 'Account', icon: 'account_box' },
          { title: 'Admin', icon: 'gavel' },
        ],
        colors: [
          'indigo',
          'warning',
          'pink darken-2',
          'red lighten-1',
          'deep-purple accent-4',
        ],
        slides: [
          'First',
          'Second',
          'Third',
          'Fourth',
          'Fifth',
        ],

      }),
    })
  </script>
</body>

</html>